<head th:fragment="ConfigFragment">
    <!--Common Head-->
    <meta charset="UTF-8">
    <title>WASD</title>

    <!--Common JS-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/common/common.js}"></script>

    <!--Common CSS -->
    <link th:inline="css" th:href="@{/css/common/common.css}" rel="stylesheet"/>
    <link th:inline="css" th:href="@{/css/common/fragments/header.css}" rel="stylesheet"/>
    <link th:inline="css" th:href="@{/css/fontawesome/all.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
