<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="ConfigFragment">
<head>
    <!--Common Head-->
    <meta charset="UTF-8">
    <title></title>

    <!--Common JS-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/common/header.js}"></script>

    <!--Common CSS -->
    <link th:inline="css" th:href="@{/css/common/common.css}" rel="stylesheet"/>
    <link th:inline="css" th:href="@{/css/common/fragments/header.css}" rel="stylesheet"/>
</head>
<body>

</body>
</html>