<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="HeaderFragment">
<aside class="servers">
    <div class="servers-collection">
        <div class="server focusable server-logo unread" role="button" aria-label="Friends unread">
            <img class="server-logo-img" style="object-fit: contain;" th:src="@{/images/wasd_logo.png}" />
<!--            <img style="width: 100%; height: auto; max-height: 100% ; object-fit: contain;" th:src="@{/images/wasd_logo.png}" />-->
        </div>
    </div>
    <div class="servers-collection">
        <div class="server focusable unread" role="button" aria-label="Discord Developers unread">
            <div class="server-icon"><img src="https://i.namu.wiki/i/4E4nlE1MmLw5ENS1wLq-Hzm5Pu40Uef15yoz4vAdKLl1KlkQKxyJF_VNi2rCmaKRkP8Go1pH3eZNCwQ6FwjtkR6mVI4J56gSe4ZDI8QKNlxPHwTwV046qZtviW05mwvz46SVl2mUNf76d0GhkrDhug.svg" /></div>
        </div>
    </div>

    <div class="servers-collection">
        <div class="server focusable active" role="button" aria-label="My Server" aria-selected="true">
            <div class="server-icon"><img src="https://e7.pngegg.com/pngimages/636/251/png-clipart-gromit-close-up-at-the-movies-wallace-and-gromit-thumbnail.png" /></div>
        </div>
    </div>
</aside>
<!--
<div class="header-box">
    <div class="joystick-container">
        <div class="joystick" id="joystick"></div>
    </div>
    <div class="button-container">
        <button class="direction-button" id="up"></button>
        <button class="direction-button" id="left"></button>
        <button class="direction-button" id="right"></button>
        <button class="direction-button" id="down"></button>

    </div>
</div>
-->
</html>