<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="HeaderFragment">
<div class="header-box">
    <div class="joystick-container">
        <div class="joystick" id="joystick"></div>
    </div>
    <div class="button-container">
        <button class="direction-button" id="up"></button>
        <button class="direction-button" id="left"></button>
        <button class="direction-button" id="right"></button>
        <button class="direction-button" id="down"></button>

    </div>
</div>
</html>