<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <title>WASD</title>
</head>
<body>
<div style="display: flex; justify-content: space-between;">
    <div>
        <img src="/images/wasd_logo.png" width="40px;">
    </div>
    <div>
        <button>HOME</button>
        <button>PROFILE</button>
        <button>GROUP</button>
    </div>
</div>
<span th:text="${data}"></span>
</body>
</html>