@charset "UTF-8";

:root {
    --body-bg: #121416;
    --body-color: #FFF;
    --servers-bg: #1E2124;
    --channels-bg: #2E3136;
    --border-accent: #26282B;
    --chat-bg: #36393E;
    --menu-bg: var(--chat-bg);
    --server-bg: var(--channels-bg);
    --server-bg-active: #7289DA;
    --server-marker-unread: #8A8E94;
    --server-marker-active: #FFF;
    --button-bg: #2E3136;
    --button-bg-active: #383C3F;
    --servers-bg-lightened: #24282B;
}
* {  box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
&:focus
{
    outline: 0;
}

html, body
{
    height: 100%;
    /*background: var(--body-bg);*/
    background: var(--chat-bg);
    color: var(--body-color);
    font-size: 16px;
    font-family: "Roboto";
}


/* BUTTON */
.button
{
   background: var(--button-bg);
   border: 0;
   color: inherit;
   cursor: pointer;
   font: inherit;
   line-height: normal;
   overflow: visible;
   appearance: none;
   user-select: none;

   > svg, > img
   {
       max-width: 100%;
       max-height: 100%;
   }
}

.button-group
{
.button:focus, .button:active
{
    background: var(--button-bg-active);
}

.button:not(:last-of-type)
{
    border-right: 1px solid var(--border-accent);
}

.button + .button
{
    box-shadow: inset 1px 0 0 #393c41;
}
}

/* ICONS */
svg[id]
{
   width: 0;
   position: absolute;
}

/* ANIMATIONS */
@keyframes server-hover-in
{
0% {
    border-radius: 25px;
    background-color: var(--server-bg);
}

40% {
    border-radius: 12px;
}

70% {
    border-radius: 16.7px;
}

80% {
    background-color: var(--server-bg-active);
}

100% {
    border-radius: 15px;
    background-color: var(--server-bg-active);
}
}

@keyframes server-hover-out
{
0% {
    border-radius: 15px;
    background-color: var(--server-bg-active);
}

45% {
    border-radius: 25px;
    background-color: var(--server-bg);
}

65% {
    border-radius: 25px;
}

75% {
    border-radius: 23.5px;
}

100% {
    border-radius: 25px;
}
}