.error-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 60px;
}

#error-status{
    font-size: 6rem;
    font-weight: 900;
}

#error-msg-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#error-msg{
    font-size: 1.2rem;
    font-weight: 600;
}

#error-btn-box{
    display: flex;
    gap: 4.5rem;
}

.error-btn {
    width: 160px;
    height: 45px;
    color: white;
    background-color: var(--group-bg-active);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    ont-weight: bold;
    font-size: 14px;
}