.container
{
    height: 100%;
    display: flex;
}

.servers
{
    height: 100%;
    background: var(--servers-bg);
    flex: 0 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding: 18px 0 18px 0;

-ms-overflow-style: none;
    &::-webkit-scrollbar
    {
        display: none;
    }
}


/* SERVER */
.server
{
   width: 50px;
   height: 50px;
   border-radius: 25px;
   background-color: var(--server-bg);
   background-repeat: no-repeat;
   margin-bottom: 8px;
   cursor: pointer;
   position: relative;

   &:not(.active)
   {
       animation: server-hover-out 0.6s ease;

       &:hover, &:focus
       {
           animation: server-hover-in 0.8s ease forwards;
       }
   }

   .server-icon
   {
       border-radius: inherit;
       width: 100%;
       height: 100%;
       display: flex;
       align-items: center;
       justify-content: center;
   }

   .server-icon > img
   {
       border-radius: inherit;
       max-width: 100%;

       object-fit: contain;
       max-height: 100%;
   }

    .server-logo-img{
        width: 100%; height: 100%; object-fit: contain;
    }
   &.server-logo
   {
       margin-bottom: 46px;
       text-align: center;

       svg { max-width: 60%; max-height: 60%; }

       &.active::before { display: none; }

       &::after
       {
           content: "2 ONLINE";
           color: rgba(var(--body-color), 0.3);
           pointer-events: none;
           font-weight: 300;
           font-size: 0.65rem;
           position: absolute;
           bottom: -35px;
           left: 3px;
           padding-bottom: 10px;
           border-bottom: 2px solid var(--servers-bg-lightened);
       }
   }

/* unread/active */
&::before
{
   position: absolute;
   top: 20px;
   left: -15px;
   content: " ";
   display: block;
   width: 10px;
   height: 10px;
   border-radius: 25px;
}

   &.active
   {
       border-radius: 15px;
       background-color: var(--server-bg-active);
   }

   &.unread::before
   {
       background: var(--server-marker-unread);
   }

   &.active::before
   {
       background: var(--server-marker-active);
       height: 40px;
       top: 5px;
   }

   &.active.unread::before { transition: all 0.2s ease-in-out; }
}

/* 옛날거 */
.header-box{
    display: flex;
    /*justify-content: center;*/
    height: 85px;
    width: 130px;
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    background-image: url('../../../images/bg_joystick.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.joystick-container {
    width: 40px;
    height: 40px;
    border: 2px solid #333;
    border-radius: 50%;
    background-color: #e0e0e0;
    position: relative;
    overflow: hidden;
}

.joystick {
    width: 25px;
    height: 25px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    /* gap: 10px; */
     width: 42px;
    height: 42px;
}
.direction-button {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#up { grid-area: 1 / 2; background-color: #FD3730 } /* 2위치 (1행 2열) */
#left { grid-area: 2 / 1; background-color: #FAC100 } /* 4위치 (2행 1열) */
#right { grid-area: 2 / 3; background-color: #00CF66 } /* 6위치 (2행 3열) */
#down { grid-area: 3 / 2; background-color: #009AE0 } /* 8위치 (3행 2열) */